<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <figure class="camera-man">
          <img src="https://1.bp.blogspot.com/-1DEjTTe66zg/WGCffbZpkRI/AAAAAAABAos/OgHE3v13Jccwenmb_uhQGuy-K74f7qo4gCLcB/s800/camera_man_boy.png">
        </figure>
        <p>
          <strong class="is-size-1" style="font-family: cursive;">teregram</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>

</section class="section section-secounday">
  <h1 class="section-headline">teregramとは？</h1>
  <ul class="grid grid-col-4">
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">1. 写真をメッセージ付きで投稿できる！</dt>
        <dd class="feature-img">
          <%= image_tag "radio-man.png", class: "image" %>
        </dd>
      </dl>
    </li>
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">2. 他の人の投稿を見れる！</dt>
        <dd class="feature-img">
          <%= image_tag "see.png", class: "image" %>
        </dd>
      </dl>
    </li>
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">3. 気に入った投稿にはいいね！</dt>
        <dd class="feature-img">
          <%= image_tag "good-man.png", class: "image" %>
        </dd>
      </dl>
    </li>
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">4. アイコンや紹介文を自由に設定できる！</dt>
        <dd class="feature-img">
          <%= image_tag "icon.png", class: "image" %>
        </dd>
      </dl>
    </li>
  </ul>
<section>
