<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered flex">
        <%= image_tag "camera-man-boy.png", class: "title-img" %>
        <p>
          <strong class="is-size-1" style="font-family: cursive;">teregram</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>

<section class="section has-background-warning">
  <h1 class="section-headline">teregramとは？</h1>
  <ul class="grid grid-col-4">
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">1. 写真をメッセージ付きで投稿できる！</dt>
        <dd>
          <%= image_tag "radio-man.png", class: "feature-img" %>
        </dd>
      </dl>
    </li>
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">2. 他の人の投稿を見れる！</dt>
        <dd>
          <%= image_tag "see.png", class: "feature-img" %>
        </dd>
      </dl>
    </li>
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">3. 気に入った投稿にはいいね！</dt>
        <dd>
          <%= image_tag "good-man.png", class: "feature-img" %>
        </dd>
      </dl>
    </li>
    <li class="grid-item">
      <dl class="feature">
        <dt class="feature-headline">4. アイコンや紹介文を自由に設定できる！</dt>
        <dd>
          <%= image_tag "icon.png", class: "feature-img" %>
        </dd>
      </dl>
    </li>
  </ul>
</section>
